<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="initial-scale=1.0;width=device-width"/>
    <title>WeChat JS 分享接口</title>
</head>
<body>
哈哈哈哈哈，我是个集才华与美丽于一身的淑女！！！<br/>
<button onclick="album();">美美集</button>&nbsp;&nbsp;&nbsp;&nbsp;
<button onclick="scan();">scan</button>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript">
    var appId = "{$config['appId']}";
    var timestamp = "{$config['timestamp']}";
    var nonceStr = "{$config['nonceStr']}";
    var signature = "{$config['signature']}";

    var link = 'http://47.93.200.212/weChat/public/index.php/index/Index/shareWx';

    {literal}
    // 通过config接口注入权限验证配置
    wx.config({
        debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: appId, // 必填，公众号的唯一标识
        timestamp: timestamp, // 必填，生成签名的时间戳
        nonceStr: nonceStr, // 必填，生成签名的随机串
        signature: signature,// 必填，签名
        jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage', 'chooseImage', 'scanQRCode'] // 必填，需要使用的JS接口列表
    });

    // 通过ready接口处理成功验证
    wx.ready(function(){
        // 获取“分享到朋友圈”按钮点击状态及自定义分享内容接口
        wx.onMenuShareTimeline({
            title: 'My CSDN', // 分享标题
            link: link, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
            imgUrl: 'http://47.93.200.212/weChat/public/static/image/csdn.png', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
                alert('朋友圈 share success！');
            },
            cancel: function () {
                alert('朋友圈 share cancel！');
                // 用户取消分享后执行的回调函数
            }
        });

        //获取“分享给朋友”按钮点击状态及自定义分享内容接口
        wx.onMenuShareAppMessage({
            title: 'My OSChina', // 分享标题
            desc: '小美美的开源中国', // 分享描述
            link: link, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
            imgUrl: 'http://47.93.200.212/weChat/public/static/image/oschina.png', // 分享图标
            type: 'link', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                // 用户确认分享后执行的回调函数
                alert('朋友 share success！');
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
                alert('朋友 share cancel！');
            }
        });

        // 拍照或从手机相册中选图接口
        /*wx.chooseImage({
            count: 1, // 默认9
            sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
            sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
            success: function (res) {
                var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
            }
        });*/

    });

    // 通过error接口处理失败验证
    wx.error(function(res){
        alert('有错误！');
    });

    function album(){
        // 拍照或从手机相册中选图接口
        wx.chooseImage({
            count: 1, // 默认9
            sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
            sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
            success: function (res) {
                var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
            }
        });
    }
    
    function scan() {
        // 调起微信扫一扫接口
        wx.scanQRCode({
            needResult: 0, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
            scanType: ["qrCode","barCode"], // 可以指定扫二维码还是一维码，默认二者都有
            success: function (res) {
                var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
            }
        });
    }

    {/literal}
</script>
</body>
</html>