<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="initial-scale=1.0;width=device-width"/>
    <title>WeChat JS 分享接口</title>
</head>
<body>
哈哈哈哈哈，我是个集才华与美丽于一身的淑女！！！
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript">
    var appId = "{$config['appId']}";
    var timestamp = "{$config['timestamp']}";
    var nonceStr = "{$config['nonceStr']}";
    var signature = "{$config['signature']}";

    {literal}
    // 通过config接口注入权限验证配置
    wx.config({
        debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: appId, // 必填，公众号的唯一标识
        timestamp: timestamp, // 必填，生成签名的时间戳
        nonceStr: nonceStr, // 必填，生成签名的随机串
        signature: signature,// 必填，签名
        jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage'] // 必填，需要使用的JS接口列表
    });

    // 通过ready接口处理成功验证
    wx.ready(function(){

        // 获取“分享到朋友圈”按钮点击状态及自定义分享内容接口
        wx.onMenuShareTimeline({
            title: 'My CSDN', // 分享标题
            link: 'http://blog.csdn.net/maosilu_ICE', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
            imgUrl: "http://{$_SERVER['HTTP_HOST']}/weChat/public/static/image/csdn.png", // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
                alert('success！k1');
            },
            cancel: function () {
                alert('fail！hahah');
                // 用户取消分享后执行的回调函数
            }
        });

        //获取“分享给朋友”按钮点击状态及自定义分享内容接口
        wx.onMenuShareAppMessage({
            title: 'My OSChina', // 分享标题
            desc: '我的开源中国', // 分享描述
            link: 'https://my.oschina.net/maosilu/blog', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
            imgUrl: "http://{$_SERVER['HTTP_HOST']}/weChat/public/static/image/oschina.png", // 分享图标
            type: 'link', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                // 用户确认分享后执行的回调函数
                alert('成功！kk');
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
                alert('取消！hh');
            }
        });

    });

    // 通过error接口处理失败验证
    wx.error(function(res){

    });

    {/literal}
</script>
</body>
</html>